<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sigdue"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"  tools:ignore="ProtectedPermissions"  />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"  tools:ignore="ProtectedPermissions"  />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application
        android:name="com.sigdue.aplication.AplicacionSIGDUE"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_main"
        android:label="@string/titleApp"
        android:usesCleartextTraffic="true"
        android:theme="@style/InmovilizacionesMoviles"
        tools:replace="android:theme, android:label, android:icon">

        <activity
            android:name="com.sigdue.activity.LoginActivity"
            android:label="@string/titleApp"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sigdue.activity.ListarInformacionSIGDUEActivity"
            android:label="@string/informacion_title"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.sigdue.activity.AgregarInformacionSIDGDUEActivity"
            android:label="@string/informacion_title"
            android:screenOrientation="portrait" />

        -
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>